<template>
	<div class="modal modal-default fade" id="modal-add-user">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Add New</h4>
				</div>
				
				<form @submit.prevent="addUser" enctype="multipart/form-data" @keydown="isSuccessful = false; userError = ''">
					<div class="modal-body">
						<div class="alert alert-success" v-if="isSuccessful">
							<strong>Successfully Added!</strong>
						</div>

						<div class="alert alert-danger" v-if="userError">
							<strong>{{ userError }}</strong>
						</div>

						<div class="form-group" :class="{'has-error': errors.has('firstname') }">
							<label> First name </label>
							<input type="text" v-model="firstname" name="firstname" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('firstname')">{{ errors.first('firstname') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('lastname') }">
							<label> Last name </label>
							<input type="text" v-model="lastname" name="lastname" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('lastname')">{{ errors.first('lastname') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('address') }">
							<label> Address </label>
							<input type="text" v-model="address" name="address" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('address')">{{ errors.first('address') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('postcode') }">
							<label> Postcode </label>
							<input type="text" v-model="postcode" name="postcode" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('postcode')">{{ errors.first('postcode') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('contact') }">
							<label> Contact  </label>
							<input type="text" v-model="contact" name="contact" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('contact')">{{ errors.first('contact') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('email') }">
							<label> Email  </label>
							<input type="email" v-model="email" name="email" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('email')">{{ errors.first('email') }}</span>	
						</div>


						<div class="form-group" :class="{'has-error': errors.has('username') }">
							<label> Username </label>
							<input type="text" v-model="username" name="username" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('username')">{{ errors.first('username') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('password') }">
							<label> Password </label>
							<input type="password" v-model="password" name="password" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('password')">{{ errors.first('password') }}</span>	
						</div>


						<div class="form-group" :class="{'has-error': errors.has('status') }">
							<label> Status </label>
							<select v-model="status" name="status" v-validate="'required'" class="form-control">
								<option value="0"> Active </option>
								<option value="1"> Inactive </option>
							</select>
							<span class="help-block text-red" v-show="errors.has('status')">{{ errors.first('status') }}</span>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" @click='isSuccessful = false; userError = ""; clearForm()' class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary pull-right">Save</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</template>


<script>
export default {
	data () {
		return {
			firstname: '',
			lastname: '',
			address: '',
			postcode: '',
			contact: '',
			email: '',
			username: '',
			password: '',
			status: '',
			isSuccessful: false,
			userError: ''
		}
	},

	mounted() {
		const self = this;
        $('#modal-add-user').on('show.bs.modal', function(e) {
	        	self.userError = '';
				self.isSuccessful = false;
				self.clearForm();
        })
	},

	methods: {
		clearForm() {
	    	const self = this;
	    	self.firstname = '';
	    	self.lastname = '';
	    	self.address = '';
	    	self.postcode = '';
	    	self.contact = '';
	    	self.email = '';
			self.username = '';
			self.password = '';
			self.status = '';
			self.$validator.reset();
	    },

		addUser() {
			const self = this;

			self.$validator.validateAll().then((result) => {
				if (result) {
					axios({
						url: 'admin/api/add-user',
					    params: {
					    	firstname: self.firstname,
					    	lastname: self.lastname,
					    	address: self.address,
					    	postcode: self.postcode,
					    	contact: self.contact,
					    	email: self.email,
							username: self.username,
							password: self.password,
							status: self.status,
					    },
		                method: 'post'
					  })
					  .then((response) => {
					  	self.isSuccessful = true;
					  	self.clearForm();
					  	self.$validator.reset();
					  	const table = $('#usersTable').DataTable();
					  	table.clear().draw();
					  })

					  .catch((error) => {
			            self.userError = error.response.data.message;
					  });
				}
			});
		}
	},
}
</script>