<template >

	<a 
		href="#"
		:id="id_name" 
		@click="generate_excel"

		>
		<slot>
			{{button_text}}
		</slot>
	</a>

</template>

<script>
export default {
	data: function(){
		return {
			animate   : true,
			animation : '',
			
		}
	},
	props: {
		'button_text': {
			type: String,
			default: "Download Excel"
		},
		'data':{
			type: Array,
			required: true
		},
		'excelFields':{
			type: Object,
			required: true
		},
		'name':{
			type: String,
			default: "data.xls"
		},
	},
	created: function () {
		
	},
	computed:{
		id_name : function(){

			var now = new Date().getTime();
			
				
			return 'export_'+now;
		},

		
	},
	methods: {
	
		generate_excel: function (){
	  	
		var uri = 'data:application/vnd.ms-excel;base64,', base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
	        var a = document.getElementById(this.id_name);
        			
	        if(this.data.length != 0) {
	        	a.href = uri + base64(this.jsonToHtml(this.data));
		        a.download = this.name;
	        } else {
	        	alert("No Data Available to Export");
	        	a.href = "#";
	        	a.removeAttribute("download");
	        }
		},
		
		emitXmlHeader: function () {
		    var headerRow =  '<tr>\n';
		    for (var colName in this.excelFields) {
		        headerRow += '  <th>\n';
		        headerRow += colName + '\n';
		        headerRow += '  </th>\n';
		    }
		    headerRow += '</tr>\n';
		    return '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>Data</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>\n' +
				   '<thead>\n\n' +
				   headerRow+
				   '</thead>\n\n'+
		           '</tbody>\n';
		},

		emitXmlFooter: function() {
		    return '\n</tbody>\n' +
					'</table>\n'+
					'</body>\n'+
		           '</html>\n';
		},

		jsonToHtml: function (jsonObject) {

	  	    const roleName = ['admin', 'agent'];

	  	    Object.keys(jsonObject).forEach((product, index) => {
			  jsonObject[product]['role_id'] = roleName[jsonObject[product]['role_id'] - 1];
			  jsonObject[product]['status'] = jsonObject[product]['status'] ? 'inactive' : 'active';
			});

		    var row;
		    var col;
		    var xml;
		    var data = typeof jsonObject != "object"
		             ? JSON.parse(jsonObject)
		             : jsonObject;

		    xml = this.emitXmlHeader();

		    for (row = 0; row < data.length; row++) {
		        xml += '<tr>\n';

		        for (col in data[row]) {
		            xml += '  <td>\n';
		            xml += String(data[row][col])+ '\n';
		            xml += '  </td>\n';
		        }

		        xml += '</tr>\n';
		    }

		    xml += this.emitXmlFooter();
		    return xml;
		},


	}
}
</script>