<template>
	<div class="row">
		<div class="col-xs-12">
			 <div class="box box-primary box-solid">
				<div class="box-header">
					<h3 class="box-title">List of all users</h3>
					<button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-add-user">Add New</button>
				</div>

				<div class="box-body">
					<table id="usersTable" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<thead>
							<tr>
								<th class="sorting_asc" tabindex="0" aria-controls="report" rowspan="1" colspan="1" aria-sort="ascending" style="width: 200px;" v-for="column in columns">
									<span>{{column}}</span>
								</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
export default {
	data () {
		return {
			colm: ['ID', 'First name', 'Last name', 'Address', 'Postcode', 'Contact','Email', 'Username', 'Action'],
		}
	},

	computed: {
		columns() {
			return this.colm;
		},
  	},

}
</script>