<template >

    <div id="gameStats" class="content-wrapper">

		<section class="content-header">
			<h1>User Management</h1>
		</section>

		<section class="content">
			<search-user></search-user>
			<add-user></add-user>
			<list-user></list-user>
			<update-user></update-user>
		</section>



    </div>

</template>
<script>
export default {
	components: {
		searchUser: require('./search-user'),
		listUser: require('./list-user'),
		addUser: require('./add-user'),
		updateUser: require('./update-user'),
	},

	data() {
		return {
		};
	},

}
</script>
