<template>
	<div class="box box-primary box-solid">
		<div class="box-header with-border">
			<h3 class="box-title">Advance Search</h3>
		</div>

		<div class="box-body">
			<form @submit.prevent="search" id="forms" method="post">

				<div class="row">
					<div class="col-lg-3">
						<label>First Name</label>
						<input type="text" id="firstname" name="firstname" v-model="firstname" class="form-control" placeholder="">
					</div>

					<div class="col-lg-3">
						<label>Last Name</label>
						<input type="text" id="lastname" name="lastname" v-model="lastname" class="form-control" placeholder="">
					</div>

					<div class="col-lg-3">
						<label>Username</label>
						<input type="text" id="username" name="username" v-model="username" class="form-control" placeholder="">
					</div>

					<div class="col-lg-3">
						<label>Status</label>
						<select id="status" name="status" v-model="status" class="form-control">
							<option value="0"> Active </option>
							<option value="1"> Inactive </option>
                        </select>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-1 pull-right">
						<label></label>
						<download-excel
						    class   = "btn btn-block btn-primary"
						    :data   = "excelData"
						    :excelFields = "excelColumns"
						    name    = "users.xls">
						    Export
						</download-excel>
					</div>
					<div class="col-lg-1 pull-right">
						<label></label>
						<button type="submit" class="btn btn-block btn-primary">Search</button>
					</div>
				</div>

			</form>
		</div>

	</div>
</template>

<script>

export default {
	components: {
		downloadExcel: require('./JsonExcel')
	},

	data () {
		return {
			firstname: '',
			lastname: '',
			address: '',
			postcode: '',
			contact: '',
			email: '',
			username: '',
			status: '',
			excelData: [],
			excelColumns: {
				'ID' : 	'Number',
				'First name' : 	'String',
				'Last name' : 	'String',
				'Address' : 	'String',
				'Postcode' : 	'String',
				'Contact' : 	'String',
				'Email' : 	'String',
				'Username' : 	'String',
				'Created Date' : 	'String',
				'Updated Date' : 	'String',
				'Status' : 	'String',
			}
		}
	},

	methods: {
		search() {
			var self = this;

    		self.gameListTable = $("#usersTable").DataTable({
				bSort: true,
				destroy: true,
				bFilter: false,
				bInfo: true,
				processing: true,
				serverSide: true, 
				pagingType: "simple_numbers",

				ajax: function(data, callback, settings) {
					const tableColumns = ['id', 'firstname', 'lastname', 'address', 'postcode', 'contact', 'email', 'username'];
					self.sortBy = tableColumns[data.order[0].column];
					self.orderBy = data.order[0].dir;
    		 
					axios({
						url: 'admin/api/search-user',
					    params: {
					    	firstname: self.firstname,
					    	lastname: self.lastname,
							username: self.username,
							status: 	self.status,
							sortBy: 	self.sortBy,
							orderBy: 	self.orderBy,
							perPage: 	data.length,
					    	page: 		(data.start / data.length) + 1
					    },
		                method: 'get'
					  })
					  .then((response) => { 
					  	   self.$store.commit('storeUserList', response.data.results.data);
					  	   self.excelData = response.data.excelData;

			               let returnData = [];
			               self.draw = self.draw + 1;
			               returnData.draw = self.draw;
			               returnData.recordsTotal = response.data.results.total;
			               returnData.recordsFiltered = response.data.results.total;
			               returnData.data = Object.values(response.data.results.data);
			               callback(returnData);
					  });

				},

				aoColumns: [
					{ data: 'id' },
					{ data: 'firstname' },
					{ data: 'lastname' },
					{ data: 'address' },
					{ data: 'postcode' },
					{ data: 'contact' },
					{ data: 'email' },
					{ data: 'username' },
					{
			            mRender: function (data, type, row) {
			                return'<button type="submit" class="btn btn-primary" data-toggle="modal" id="'+ row.id +'" data-target="#modal-update-user">Update</button>'
			            }, 
			            orderable: false, searchable: false
			        }
				]

			}).draw();
		},

	},
}
</script>