<template>
	<div class="modal modal-default fade" id="modal-update-user">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Update User Info</h4>
				</div>
				
				<form @submit.prevent="updateUser" enctype="multipart/form-data" @keydown="isSuccessful = false; userError = ''">
					<div class="modal-body">
						<div class="alert alert-success" v-if="isSuccessful">
							<strong>Successfully Updated!</strong>
						</div>

						<div class="alert alert-danger" v-if="userError">
							<strong>{{ userError }}</strong>
						</div>

						<div class="form-group" :class="{'has-error': errors.has('firstname') }">
							<label> Name </label>
							<input type="text" v-validate="'required'" v-model="firstname" name="firstname" class="form-control">
							<span class="help-block text-red" v-show="errors.has('firstname')">{{ errors.first('name') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('lastname') }">
							<label> Last name </label>
							<input type="text" v-model="lastname" name="lastname" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('lastname')">{{ errors.first('lastname') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('address') }">
							<label> Address </label>
							<input type="text" v-model="address" name="address" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('address')">{{ errors.first('address') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('postcode') }">
							<label> Postcode </label>
							<input type="text" v-model="postcode" name="postcode" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('postcode')">{{ errors.first('postcode') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('contact') }">
							<label> Contact  </label>
							<input type="text" v-model="contact" name="contact" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('contact')">{{ errors.first('contact') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('email') }">
							<label> Email  </label>
							<input type="email" v-model="email" name="email" v-validate="'required'" class="form-control">
							<span class="help-block text-red" v-show="errors.has('email')">{{ errors.first('email') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('username') }">
							<label> Username </label>
							<input type="text" v-validate="'required'" v-model="username" name="username" class="form-control">
							<span class="help-block text-red" v-show="errors.has('username')">{{ errors.first('username') }}</span>	
						</div>

						<div class="form-group" :class="{'has-error': errors.has('status') }">
							<label> Status </label>
							<select v-validate="'required'" v-model="status" name="status" class="form-control">
								<option value="0"> Active </option>
								<option value="1"> Inactive </option>
							</select>
							<span class="help-block text-red" v-show="errors.has('status')">{{ errors.first('status') }}</span>	
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" @click="isSuccessful = false; userError = ''" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary pull-right">Save</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</template>


<script>
export default {
	data () {
		return {
			userId: '',
			firstname: '',
			lastname: '',
			address: '',
			postcode: '',
			contact: '',
			email: '',
			username: '',
			password: '',
			status: '',
			userError: '',
			isSuccessful: false
		}
	},

	mounted() {
		const self = this;
        $('#modal-update-user').on('show.bs.modal', function(e) {
	        	self.userError = '';
				self.isSuccessful = false;
        		const roleName = ['admin', 'agent'];
                self.userId = e.relatedTarget.id;
                const userModel = self.$store.state.userModel;
                const user = _.find(userModel, function(user) { return user.id == self.userId; });
                
                self.firstname = user.firstname;
                self.lastname = user.lastname;
                self.address = user.address;
                self.postcode = user.postcode;
                self.contact = user.contact;
                self.email = user.email;
                self.username = user.username;
                self.status = user.status;
        })
	},

	methods: {

		updateUser() {
			const self = this;
			axios({
				url: 'admin/api/update-user',
			    params: {
					id: self.userId,
					firstname: self.firstname,
			    	lastname: self.lastname,
			    	address: self.address,
			    	postcode: self.postcode,
			    	contact: self.contact,
			    	email: self.email,
					username: self.username,
					password: self.password,
					status: self.status,
			    },
                method: 'put'
			  })
			  .then((response) => { 
			  	   self.isSuccessful = true;
			  	   const table = $('#usersTable').DataTable();
			  	   table.clear().draw();
			  })

			  .catch((error) => {
	            self.userError = error.response.data.message;
			  });
		}
		
	},
}
</script>