<template>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- Sidebar user panel (optional) -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
				</div>

				<div class="pull-left info">
					<p>Alexander Pierce</p>
					<!-- Status -->
					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>

			<!-- Sidebar Menu -->
			<ul class="sidebar-menu" data-widget="tree">

				<li class="header text-center">MAIN NAVIGATION</li>

				<router-link tag="li" to="/users" >
					<a> <i class="fa fa-user"></i> <span> User Management </span> </a>
				</router-link>

			</ul>
			<!-- /.sidebar-menu -->

		</section>
		<!-- /.sidebar -->

	</aside>
</template>