<template>
	<div>

		<div class="required-components">
			<main-header></main-header>
			<main-sidebar></main-sidebar>
		</div>

		<router-view></router-view>

	</div>
</template>

<script>
	export default {
		components: {
			MainHeader: require('./MainHeader'),
			MainSidebar: require('./MainSidebar'),
		}
	}
</script>