#alert-messages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 88888;
}

.modal-loading {
	padding-top: 6px; 
	padding-right: 10px; 
	color: green; 
	font-size: 18px;
}

#domainPage .content {
    min-height: auto;
}
#domainPage .small-box>.inner {
    margin-bottom: 35px;
}