<template>
			
	<div class="login-box">

		<div class="login-logo">
		    <a href="/login"><b>Yondu</b>Exam</a>
		</div>

		<div class="login-box-body">

		    <p class="login-box-msg">Sign in to start your session</p>

		    <form action="/login" method="post">

		      <input type="hidden" name="_token" :value="$store.state.csrf">	
		      
		      <div class="form-group has-feedback">
		        <input type="text" class="form-control" placeholder="Username" name="username" required>
		        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		      </div>

		      <div class="form-group has-feedback">
		        <input type="password" class="form-control" placeholder="Password" name="password" required>
		        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
		      </div>

		      <div class="row">
		      
		        <div class="col-xs-4 col-xs-offset-8">
		          <button class="btn btn-primary btn-block btn-flat">Sign In</button>
		        </div>
		      
		      </div>

		    </form>

		</div>

	</div>	

</template>

<script>
	export default {

		mounted () {
			$('.required-components').hide();
		},

		destroyed () {
			$('.required-components').show();
		}

	}
</script>