<template>
	<div class="content-wrapper">

		<section class="content-header">
			<h1>
				Accounts
				<small> Where you can manage user accounts here. </small>
			</h1>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">

						<div class="box-header">

							<button class="pull-left btn btn-info" @click="registerModal(true)">
								<i class="fa fa-user-plus"></i>  Add User
							</button>

						</div>
           				
						<div class="box-body">

							<table class="table table-bordered table-hover dataTable no-footer" id="users-table">
								
								<thead>

									<tr>
										<th>Username</th>
										<th>Status</th> 
										<th>Role</th> 
										<th>Action(s)</th>
									</tr>

								</thead>

								<tfoot>

									<tr>
										<th>Username</th>
										<th>Status</th> 
										<th>Role</th> 
										<th>Action(s)</th>
									</tr>

								</tfoot>

							</table>

						</div>
            
          			</div>
				</div>
			</div>
		</section>

		<div class="modal modal-default fade" id="modal-user-update">

			<div class="modal-dialog">

				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center"> Modify User Information </h4>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label> Username </label>
							<input type="text" class="form-control" v-model="activeUser.username" disabled>
						</div>

						<div class="form-group">
							<label> Status </label>
							<select class="form-control" v-model="activeUser.status">
								<option value="0"> Active </option>
								<option value="1"> Inactive </option>
							</select>
						</div>
						
						<div class="form-group">
							<label> Role </label>
							<select class="form-control" v-model="activeUser.role.id">
								<option value="1">Admin</option>
								<option value="2">Ordinary</option>
							</select>
						</div>

						<div class="alert alert-success" v-if="responseMessageType == 'success'">

					       <i class="icon fa fa-check"></i> {{ responseMessage }}

					    </div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                		<button type="button" class="btn btn-primary pull-right" @click="saveChanges">Save changes</button>
                		<p class="pull-right response-message" v-if="loading"> <i class="fa fa-spinner fa-spin"></i> </p>
                		<p class="pull-right response-message" v-if="responseMessageType == 'footer'">  <i class="fa fa-exclamation-circle"></i> {{ responseMessage }} </p>
					</div>
				</div>

			</div>

		</div>

		<div class="modal modal-default fade" id="modal-change-password">

			<div class="modal-dialog">

				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center"> Change Password </h4>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label> Username </label>
							<input type="text" class="form-control" v-model="activeUser.username" disabled>
						</div>

						<div class="form-group">
							<label> New Password </label>
							<input type="password" class="form-control" v-model="new_password">
						</div>

						<div class="form-group">
							<label> Confirm Password </label>
							<input type="password" class="form-control" v-model="new_password_confirmation">
						</div>


            			<div class="alert alert-success" v-if="responseMessageType == 'success'">

					       <i class="icon fa fa-check"></i> {{ responseMessage }}

					    </div>

                		<div class="callout callout-danger" v-if="responseMessageType == 'error'" >
								
							<h4> <i class="icon fa fa-ban"></i> {{ responseMessage }} </h4>
			
							<ul>

								<li v-for="message in errorMessages">
									{{ message }}
								</li>

							</ul>

                		</div>

					</div>

					<div class="modal-footer">

						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                		<button type="button" class="btn btn-primary pull-right" @click="changePassword">Save changes</button>
                		<p class="pull-right response-message" v-if="loading"> <i class="fa fa-spinner fa-spin"></i> </p>
                		<p class="pull-right response-message" v-if="responseMessageType == 'footer'">  <i class="fa fa-exclamation-circle"></i> {{ responseMessage }} </p>
					</div>
				</div>

			</div>

		</div>
        
        <div class="modal modal-default fade" id="register-user" role="dialog">
        	<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center"> Change Password </h4>

					</div>

					<div class="modal-body">
						<form>
							<div class="form-group has-feedback" :class="{'has-error': errors.has('name') }">
								<label for="username">Username</label>

						        <input type="text" class="form-control" name="name" placeholder="Username" 
						        	v-validate="'required|min:3'" v-model="registerModel.name">
						        <span class="glyphicon glyphicon-user form-control-feedback"></span>

						        <span v-show="errors.has('name')" class="help-block text-red"> 
									<i class="fa fa-warning"></i> {{ errors.first('name') }}
								</span>
						    </div>

						    <div class="form-group has-feedback" :class="{'has-error': errors.has('password') }">
						    	<label>Password</label>

						        <input type="password" class="form-control" placeholder="Password" name="password" 
						        	v-validate="'required|min:6'" v-model="registerModel.password">
						        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

						        <span v-show="errors.has('password')" class="help-block text-red"> 
									<i class="fa fa-warning"></i> {{ errors.first('password') }}
								</span>
					      	</div>


					      	<div class="form-group has-feedback" :class="{'has-error': errors.has('password_confirmation') }">
						    	<label>Confirm Password</label>

							  	<input type="password" class="form-control" placeholder="Confirm Password" name="password_confirmation" 
							  		v-validate="'required|confirmed:password'" v-model="registerModel.password_confirmation">
						        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

						        <span v-show="errors.has('password_confirmation')" class="help-block text-red"> 
									<i class="fa fa-warning"></i> {{ errors.first('password_confirmation') }}
								</span>
					      	</div>

							<div class="form-group">
							  <label>Role</label>
							  <select class="form-control select2" name="role_id">
							    <option value="1"> Admin </option>
							    <option value="2"> Ordinary </option>
							  </select>
							</div>
						</form>

						<div class="alert alert-success" v-if="responseMessageType == 'success'">

					       <i class="icon fa fa-check"></i> {{ responseMessage }}

					    </div>

                		<div class="callout callout-danger" v-if="responseMessageType == 'error'" >
								
							<h4> <i class="icon fa fa-ban"></i> {{ responseMessage }} </h4>
			
							<ul>

								<li v-for="message in errorMessages">
									{{ message }}
								</li>

							</ul>

                		</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal" @click="registerModal(false)">
							Close
						</button>

                		<button type="submit" class="btn btn-primary pull-right" @click="registerUser">Register</button>

                		<p class="pull-right response-message" v-if="loading"> <i class="fa fa-spinner fa-spin"></i> </p>
					</div>
				
				</div>
			</div>
        </div>

	</div>
</template>

<script>
	export default {

		data(){
			return {
				users: [],

				loading: false,
				errorMessages: null,
				responseMessage: '',
				responseMessageType: '',

				activeUser: {
					id: '',
					username: '',
					status: '',
					role: {
						id: '',
						role: '',
					}
				},

				new_password: '',
				new_password_confirmation: '',

				userTable: null,

				registerModel: {
					name: '',
					password: '',
					password_confirmation: '',
					role_id: 1
				}

			}
		},

		methods: {
			registerModal (bool) {
				var vm = this;

				if(bool){
					$('#register-user').modal({
						backdrop: 'static',
						keyboard: false
					});
				} 

				else {
					vm.resetRegVar();
					vm.$nextTick(() => vm.$validator.reset());
				}
				
			},

			registerUser () {
				var vm = this;

				vm.$validator.validateAll().then((result) => {
					if(result) {
						vm.responseMessage = '';
						vm.responseMessageType = '';
						vm.loading = true;

						axios.post('/admin/api/accounts/store', vm.registerModel)

						.then((res) => {
							var code = res.data.code;
							vm.loading = false;

							if (code == 0) {
								vm.responseMessage = res.data.message;
								vm.responseMessageType = "success";

								vm.users.push(res.data.user);
								vm.setUserTable();

								vm.resetRegVar();

								vm.$nextTick(() => vm.$validator.reset());

								setTimeout(() => {
									vm.responseMessage = '';
									vm.responseMessageType = '';
								}, 3000);
							}

							else if (code == -1) {
								vm.responseMessage = res.data.message;
								vm.errorMessages = res.data.errors;
								vm.responseMessageType = "error";
							}

							else {
								console.log('something went wrong, unknown code response');
							}
						})

						.catch((e) => {
							vm.loading = false;
							alert('Something went wrong, ' + e);
						});

					}

				});

			},

			getUserList () {
				var vm = this;

				axios.get('/admin/api/accounts')
				
				.then((response) => {
					
					var code = response.data.code;

					if(code == 0) {

						vm.users = response.data.users
						vm.setUserTable();
					
					} else if (code == -1) {
						
						console.log(response.data.message);

					}

				})

				.catch((e) => {

					alert(e)

				});
			},

			setUserTable () {
				var vm = this;

				vm.userTable.clear().draw();

				this.users.forEach((user) => {

					var userStatus = (user.status) ? 'Inactive' : 'Active';

					vm.userTable.row.add( [

						user.username,
						userStatus,
						user.role.role,
						'<a class="btn user-update" id="'+ user.id +'"> <i class="fa fa-edit"></i> Edit </a> <a id="'+ user.id +'" class="btn text-orange user-change-password"> <i class="fa fa-key" aria-hidden="true"></i> Change Password </a>'

					] ).draw(false);

				});
			},

			saveChanges () {
				var vm = this;

				var data =  {
					user_data: vm.activeUser,
				};

				vm.loading = true;

				axios.post('admin/api/accounts/update', data)

				.then((response) => {
					
					var code = response.data.code;
					vm.loading = false;

					if(code == 0) {
						vm.users = response.data.users
						vm.setUserTable();
						vm.responseMessage = response.data.message;
						vm.responseMessageType = "success";
					} 

					else if (code == -1) {
						vm.responseMessage = response.data.message;
						vm.responseMessageType = "error";
					}	

					else 
						console.log('Something Went Wrong');
					
				})

				.catch((e) => {
					vm.loading = false;
					alert(e)

				});
			},

			changePassword () {
				var vm = this;
				var data =  {
					user_id:  vm.activeUser.id,
					new_password: vm.new_password,
					new_password_confirmation: vm.new_password_confirmation
				};

				if (vm.activeUser.id && vm.new_password && vm.new_password_confirmation) {
					vm.loading = true;
					vm.responseMessage = "";

					axios.post('admin/api/accounts/change_password', data)

					.then((response) => {
					
						var code = response.data.code;
						vm.loading = false;

						if(code == 0) {
							vm.responseMessage = response.data.message;
							vm.responseMessageType = "success";
						} 

						else if (code == -1) {
							vm.errorMessages = response.data.errors.new_password;
							vm.responseMessage = response.data.message;
							vm.responseMessageType = "error";
						}

						else 
							console.log('Something Went Wrong');
						
					})

					.catch((e) => {

						alert('Please try again.');
						vm.resetVariables();

					});
				} 

				else {
					vm.responseMessage = "All fields are required."
					vm.responseMessageType = "footer";
				}					
			},

			resetVariables () {
				var vm = this;
				vm.loading = false;
				vm.errorMessages = null;
				vm.responseMessage = '';
				vm.responseMessageType = '';
				vm.new_password = '';
				vm.new_password_confirmation = '';
			},

			resetRegVar () {
				var vm = this;

				vm.registerModel.name = "";
				vm.registerModel.password = "";
				vm.registerModel.password_confirmation = "";
				vm.loading = false;
			}

		},

		mounted () {

			var vm = this;

			vm.userTable = $('#users-table').DataTable({
				'paging'      : true,
				'lengthChange': false,
				'searching'   : false,
				'ordering'    : true,
				'info'        : true,
				'autoWidth'   : false
			});

			vm.getUserList();

			$(document).on('click', '.user-update', (e) => {
				var id = Number(e.target.id);
				var userModel = _.find(vm.users, { id: id});

				if (userModel) {
					vm.activeUser = userModel;

					$('#modal-user-update').modal({
						backdrop: 'static',
						keyboard: false
					});

					vm.resetVariables();
				}

				else
					alert('something went wrong, couldnt find data');
			});

			$(document).on('click', '.user-change-password', (e) => {
				var id = Number(e.target.id);
				var userModel = _.find(vm.users, { id: id});

				if (userModel) {
					vm.activeUser = userModel;

					$('#modal-change-password').modal({
						backdrop: 'static',
						keyboard: false
					});

					vm.resetVariables();
				}

				else
					alert('something went wrong, couldnt find data');
			});

		} 
	}
</script>

<style scoped>
	.response-message {
		padding-top: 6px; 
		padding-right: 10px;
	}
</style>