<template>
	<div class="content-wrapper">

		<section class="content">

			<div class="row">
				
				<div class="col-md-6 col-md-offset-3">
					
					<div class="box box-solid box-info">

						<div class="box-header with-border">
							<i class="glyphicon glyphicon-user"></i> Registration
						</div>

						<form method="POST" action="/adduser">
							<div class="box-body">

									<input type="hidden" name="_token" :value="$store.state.csrf">

									<div class="form-group has-feedback">
										<label for="username">Username</label>
								        <input type="text" class="form-control" name="name" placeholder="Username" >
								        <span class="glyphicon glyphicon-user form-control-feedback"></span>
								    </div>

								    <div class="form-group has-feedback">
								    	<label>Password</label>
								        <input type="password" class="form-control" placeholder="Password" name="password" >
								        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
							      	</div>


							      	<div class="form-group has-feedback">
								    	<label>Confirm Password</label>
									  	<input type="password" class="form-control" placeholder="Confirm Password" name="password_confirmation" 
									  		v-model="password_confirmation">
								        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
							      	</div>

									<div class="form-group">
									  <label>Role</label>
									  <select class="form-control select2" name="role_id">
									    <option value="1"> Admin </option>
									    <option value="2"> Ordinary </option>
									  </select>
									</div>

							</div>

							<div class="box-footer">
								<button type="submit" class="btn btn-info pull-right"> Register </button>
							</div>

						</form>

					</div>

				</div>

			</div>

		</section>

	</div>
</template>